#branding{
    background: white;
}

#header{
    background: #0066FF;
}

#branding h1{
    color: #0066FF;
}

#branding img{
    padding-left: 90px;
}

.reg{
    margin-left: 69px;
}

.login #container{
    margin-top: 30px;
}

.login .submit-row{
    padding-left: 125px;
}

.footer{
    float: left;
    width: 760px;
    background: #eee;
    padding: 20px;
    margin-left: -200px;
    font-size: 90%;
    border: 1px solid #ccc;
}