/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

#wrapper { 
 margin: 0 auto;
 width: 1024px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.marketing{
  font-size: 90%;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
h1 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

#mr_form{
  height: 700px;
}

#mr_form  p{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px
}

#mr_form label{
  width: 50px;
}

.mr_form_wrapper{
  padding: 10px;
}

#mr_form input.ng-invalid {
  border: 1px solid #CC6666;
}
#mr_form input.ng-valid {
  border: 1px solid #339966;
}

#mr_form span.djng-form-errors, ul.djng-form-errors > li { 
  display: block; padding: 0.375em 0.25em; 
  margin-top: 0; 
  margin-bottom: 1em; 
  font-size: 0.75em; 
  font-weight: bold; 
  background: #CC6666; 
  color: white; 
}

.active{
  border:0;
  background: rgb(200,203,202); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(200,203,202,1) 0%, rgba(218,221,220,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(200,203,202,1)), color-stop(100%,rgba(218,221,220,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(200,203,202,1) 0%,rgba(218,221,220,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(200,203,202,1) 0%,rgba(218,221,220,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(200,203,202,1) 0%,rgba(218,221,220,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(200,203,202,1) 0%,rgba(218,221,220,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8cbca', endColorstr='#dadddc',GradientType=0 ); /* IE6-9 */
  color:@grayDarker;
}

#map{
  width: 450px;
  height: 400px;
  border: 1px solid #C0C0C0;
  margin-right: 20px;
  margin-left: 20px;
  padding: 0px;
}

.search_block{
  margin-top: 10px;
}

.attribute-filters, .spatial-filters{
  max-width: 150px;
  font-size: 90%;
}

.search{
  padding: 0;
  max-width: 230px;
}

.search_filter > li{
  list-style-type: none;
}

.results{
  max-width: 300px;
}

ul{
  padding: 0px;
}

textarea{
  width: 200px;
  height: 50px;
}

.angular-leaflet-map {
  height: 100%;
}

.map_info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  min-width: 100px;
}

.map-info-counts{
  margin-top: 7px;
}

.result_article li{
  list-style-type: none;
}

.result_article h4{
  margin-top: 5px;
  padding-left: 0px;
  color: #657FCB;
  font-size: 90%;
}

.result_article{
  border-bottom: 1px solid #C0C0C0;
  padding: 5px 0 5px 0;
}

.legend {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    background: rgba(255,255,255, 0.9);
    line-height: 18px;
    border-radius: 5px;
    color: #555;
}

.legend i {
    color: #777;
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.search strong{
  margin: 5px;
  margin-bottom: 15px;
  min-width: 150px;
  color: #657FCB;
}

h3 {
  margin-top: 0px;
  font-size: 150%;
}

.pager{
  margin: 10px 0 0 0;
  width: 184px;
}

.search_results li{
  max-width: 260px
}

.search_results{
  max-height: 350px;
  overflow: auto;
}

.popover-title{
  color: #657FCB;
}

.popover-content{
  font-size: 85%;
}

.popover{
  min-width: 200px;
}

.map_date{
  color: #858585;
  font-size: 80%;
}

.thumbnail{
  margin: 0;
}

.request-button{
  margin-bottom: 20px;
  margin-right: 130px;
}