/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

#mr_form{
  width: 400px;
  height: 700px;
}

input.ng-invalid {
  border: 1px solid red;
}
input.ng-valid {
  border: 1px solid green;
}

/* Error Handling */
[data-abide] .djng-form-errors ul.djng-form-djng-form-errors, [data-abide] span.djng-form-errors, [data-abide] ul.djng-form-errors { display: block; padding: 0.375em 0.25em; margin-top: 0; margin-bottom: 1em; font-size: 0.75em; font-weight: bold; background: #c60f13; color: white; }
[data-abide] span.djng-form-errors, [data-abide] ul.djng-form-errors { display: none; }

span.djng-form-errors, ul.djng-form-errors > li { display: block; padding: 0.375em 0.25em; margin-top: 0; margin-bottom: 1em; font-size: 0.75em; font-weight: bold; background: #c60f13; color: white; }

.djng-form-errors input, .djng-form-errors textarea, .djng-form-errors select { border-color: #c60f13; background-color: rgba(198, 15, 19, 0.1); margin-bottom: 0; }
.djng-form-errors input:focus, .djng-form-errors textarea:focus, .djng-form-errors select:focus { background: #fafafa; border-color: #999999; }
.djng-form-errors label, .djng-form-errors label.djng-form-errors { color: #c60f13; }
.djng-form-errors > ul, .djng-form-errors ul.djng-form-errors { display: block; padding: 0.375em 0.25em; margin-top: 0; margin-bottom: 1em; font-size: 0.75em; font-weight: bold; background: #c60f13; color: white; }
.djng-form-errors span.djng-form-errors-message { display: block; }

input.error, textarea.error { border-color: #c60f13; background-color: rgba(198, 15, 19, 0.1); margin-bottom: 0; }
input.error:focus, textarea.error:focus { background: #fafafa; border-color: #999999; }

.error select { border-color: #c60f13; background-color: rgba(198, 15, 19, 0.1); }
.error select:focus { background: #fafafa; border-color: #999999; }

label.error { color: #c60f13; }
