/* Space out content a bit */
body {
  padding-bottom: 20px;
  margin: 0;
  font-family: 'Lato';
}

#wrapper { 
 margin: 0 auto 0;
}

#content{
  width: 984px;
  height: 650px;
  margin: 0 auto 0;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border:1px solid #369
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
  margin-top: 0;
}

.marketing{
  font-size: 90%;
}

/* Make the masthead heading the same height as the navigation */
h1 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
  font-family: 'Lato-bold';
  color: #2D428E;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

#mr_form{
  height: 700px;
  overflow: hidden;
  width: 500px;
}

#mr_form  p{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px
}

#mr_form label{
  width: 50px;
}

.mr_form_wrapper{
  padding: 10px;
}

#mr_form input.ng-invalid {
  border: 1px solid #CC6666;
}
#mr_form input.ng-valid {
  border: 1px solid #339966;
}

#mr_form span.djng-form-errors, ul.djng-form-errors > li { 
  display: block; padding: 0.375em 0.25em; 
  margin-top: 0; 
  margin-bottom: 1em; 
  font-size: 0.75em; 
  font-weight: bold; 
  background: #CC6666; 
  color: white; 
}

.active{
  border:0;
  background: rgb(200,203,202); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(200,203,202,1) 0%, rgba(218,221,220,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(200,203,202,1)), color-stop(100%,rgba(218,221,220,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(200,203,202,1) 0%,rgba(218,221,220,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(200,203,202,1) 0%,rgba(218,221,220,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(200,203,202,1) 0%,rgba(218,221,220,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(200,203,202,1) 0%,rgba(218,221,220,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8cbca', endColorstr='#dadddc',GradientType=0 ); /* IE6-9 */
  color:@grayDarker;
}

#map{
  width: 450px;
  height: 500px;
  border: 1px solid #C0C0C0;
  margin-right: 20px;
  margin-left: 10px;
  padding: 0px;
}

.search_block{
  margin-top: 10px;
}

.spatial-filters{
  max-width: 230px;
  height: 500px;
  font-size: 90%;
}

.search{
  padding: 0;
  max-width: 230px;
}

.search_filter > a{
  text-decoration: none;
  color: #657FCB;
}

.search_filter > a >li{
  list-style-type: none;
  font-size: 90%;
}

.search_filter > a >li.active{
  background: #3030A0;
  color: white;
}

.search_filter > a >li:hover{
  background: #3030A0;
  color: white;
}

.results{
  width: 250px;
}

ul{
  padding: 0px;
}

textarea{
  width: 200px;
  height: 50px;
}

.angular-leaflet-map {
  height: 100%;
}

.map_info {
  padding: 6px 8px;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  min-width: 150px;
}

.map-info-counts{
  margin-top: 7px;
}

.result_article li{
  list-style-type: none;
}

.result_article h4{
  margin-top: 5px;
  padding-left: 0px;
  color: #657FCB;
  font-size: 90%;
}

.result_article{
  border-bottom: 1px solid #C0C0C0;
  padding: 5px 0 5px 0;
}

.legend {
    padding: 6px 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    background: rgba(255,255,255, 0.9);
    line-height: 18px;
    border-radius: 5px;
    color: #555;
}

.legend i {
    color: #777;
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.search strong{
  margin-bottom: 5px;
  min-width: 150px;
  color: #657FCB;
}

h3 {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 150%;
}

.search_results li{
  max-width: 260px
}

.search_results{
  height: 460px;
  overflow: auto;
}

.popover-title{
  color: #657FCB;
}

.popover-content{
  font-size: 85%;
}

.popover{
  min-width: 200px;
}

.map_date{
  color: #858585;
  font-size: 80%;
}

.thumbnail{
  margin: 0;
}

.pager{
  margin: 0;
  margin-right: 20px;
}

.found-maps{
  margin-left: 50px;
}

.request-button{
  margin-right: 80px;
}

.collins{
  padding: 0;
  margin-left: 40px;
  margin-top: -70px;
}

.collins > article{
  padding: 5px;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
}

.disclaimer > a{
  color: white;
  font-size: 90%;
  margin-right: 5px;
}

.contacts{
  border-left: 1px solid gray;
  padding-left: 5px
}

/* BANNER */

.header{
  width: 984px;
  position:relative;
  min-height:145px;
  background-color:#fff;
  line-height:1.4;
  margin: 0 auto 0;
}
#banner-flag{position:absolute;left:40px;top:15px;z-index:8;color:#000;width:172px;height:119px;}


#banner-image-title{
  float:left;height:145px;width:100%;background-repeat:no-repeat;background-position:0 0;}
.title{background-image:url("/static/images/title.gif");}

#site-title{
  position: absolute;
  height: 30px;
  margin-left: 250px;
  margin-top: 100px;
}

/* Make the masthead heading the same height as the navigation */
h1 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
  font-family: 'Lato-bold';
  color: white;
  font-size: 200%;
}

#services{
  font-size:90%;font-weight:normal;position:absolute;left:0;top:2px;right:0;padding:1px 50px 1px 1px;text-align:right;margin-bottom: 0px;}
#services li{display:inline;padding:3px 0;}
#services a,
#services a:focus,
#services a:hover,
#services a:active{color:#396ea2;text-decoration:underline;border:0;}
#services a.first{border:0;background-image:none;}

.js #services{padding-right:140px;}

/* adjust some elements on font-size change */

.font-size-2 #services{padding-right:150px;}
.font-size-3 #services{padding-right:172px;}
