{% load staticfiles %}
{% load bootstrap_tags %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Global Atlas</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" href="{% static "bower_components/select2/select2.css" %}">
    <link rel="stylesheet" href="{% static "bower_components/leaflet-dist/leaflet.css" %}">
    <link rel="stylesheet" href="{% static "bower_components/jquery-ui/themes/smoothness/jquery-ui.css" %}">
    <!-- bower:css -->
    <link rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "styles/flags.css" %}">
    <link rel="stylesheet" href="{% static "fonts/lato_font.css" %}">
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="{% static "styles/main.css" %}">
    <!-- endbuild -->
  </head>
  <body ng-controller="AtlasController">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="wrapper">
      <header class="col-md-12 header">
        <span class="banner col-md-2"></span>
        <h1 class="col-md-3">Global Atlas</h1>
        <p class="marketing col-md-7">The Global Atlas on Crisis Areas is a catalogue of maps (format pdf, jpeg) at country or regional level, split in categories: baseline, natural hazard, armed conflict, security, thematic and policy.
It's intended to increase the awareness of geographic and crisis related issues, to provide the basis for information management in possible crisis situations or planning project.</p>
      </header>
      <div id="content">
        <button class="btn btn-small btn-primary col-md-2 pull-right request-button" data-toggle="modal" data-target="#mr_form">Request a map</button>
        <!-- Search-->
        <div class="search col-md-3 pull-left" id="search">
          <h3>Compose your Filters</h3>
          <a href><p ng-click="reset_filters()">Clear all filters</p></a>
          <div class="spatial-filters pull-left">
            <div>
              <label>Search by one or more Country</label>
              <div id="country_select" ui-select2="select2Options" ng-model="select2" placeholder="Type to search" ng-controller="CountrySelectController">
              </div>
            </div>
            <div class="pull-left search_block">
              <label>Or by Region</label>
              <ul class="search_filter single_choice" id="regions" single-choice-directive>
                {% for region in regions %}
                  <a href><li data-class="country" value="{{ region.id }}">{{ region }} ({{region.map_set.count}})</li></a>
                {% endfor %}
              </ul>
            </div>
            <div class="pull-left">
              <label>Refine by Title or Id</label>
              <input id="title_search" ng-model="title" type="text" ng-controller="TitleSelectController" placeholder="Type to search"></input>
            </div>
            <div class="pull-left search_block">
              <label>Refine by Category</label>
              <ul class="search_filter single_choice" id="categories" single-choice-directive>
                {% for category in categories %}
                  <a href><li data-class="category" value="{{ category.id }}">{{ category }} ({{category.map_set.count}})</li></a>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>

        <!-- Map -->
        <div ng-controller="MapController" class="map col-md-4 pull-left" id="map">
          <leaflet center="center" geojson="countries" layers="layers" legend="legend">
          </leaflet>
        </div>

        <!-- Search results -->
        <div class="results pull-left">
          <h3 class="col-md-offset-3">Found 
             <ng-pluralize count="search_total_counts"
              when="{'one': '1 Map', 'other': '{} Maps'}"></ng-pluralize>
          </h3>
          <div class="pager col-md-offset-2">
            <a href><strong ng-click="paginate_down()"><<</strong></a>
            <span>page </span>
            <span ng-model="page" ng-bind="page"></span>
            <span> of </span>
            <span ng-bind="numpages"></span>
            <a href><strong ng-click="paginate_up()">>></strong></a>
          </div>
          <div class="search_results">
            <div>
              {% verbatim %}
              <article ng-repeat="map in search_results" class="result_article" data-toggle="popover" data-content="<strong>ID: </strong>{{map.id}}</br><strong>Format: </strong>{{map.format}}</br><strong>Size: </strong>{{map.size.name}}</br><strong>Category: </strong>{{map.category.name}}</br><strong>Source: </strong>{{map.source.name}}</br><strong>Country: </strong>{{map.country}}</br><strong>Theme: </strong>{{map.theme.name}}</br><strong>Scale: </strong>{{map.scale}}</br><strong>Description: </strong>{{map.description}}" data-title="<strong>Metadata</strong>">
                <div class="item-header">
                  <a ng-href="maps/{{ map.id }}/download"><h4 ng-bind="map.title"></h4></a>
                </div>
                <div class="thumbnail">    
                  <a ng-href="maps/{{ map.id }}/download"><img ng-src="static/{{ map.map_thumbnail }}" /></a>
                </div>
                <span class="map_date">Published on: {{map.date | date:mediumDate}}  -  File size: {{map.file_size | number:2}} Mb</span>
              </article>
              {% endverbatim %}
            </div>
          </div>
        </div>
        <div class="collins" ng-controller="CollinsMapsController">
          <h4>Collins maps found for the selected countries</h4>
          <p ng-show="!collins_maps.length">No maps</p>
          {% verbatim %}
          <article class="pull-left" ng-repeat="map in collins_maps">
            <a ng-href="collins/{{ map.id }}/download" ng-bind="map.name"></a>
          </article>
          {% endverbatim %}
        </div>
      </div>
    </div>

    <!-- Map Request form -->
    <div class="modal fade col-md-4 col-md-offset-4" id="mr_form">
        <div class="modal-content mr_form_wrapper">
            <form name="{{mr_form.name}}" ng-controller="MRController" novalidate>
                <legend>Request for a map</legend>
                {{ mr_form.as_p }}
                <div class="form-actions">
                  <a class="btn" data-dismiss="modal">Close</a>
                  <button type="submit" ng-disabled="!mr_form.$valid" class="btn btn-primary" ng-click="submit()">Send</button>
                </div>           
            </form>
        </div>
    </div>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="{% static "bower_components/jquery/jquery.js" %}"></script>
    <script src="{% static "bower_components/select2/select2.min.js" %}"></script>
    <script src="{% static "bower_components/angular/angular.js" %}"></script>
    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.js" %}"></script>
    <script src="{% static "bower_components/bootstrap/js/tooltip.js" %}"></script>
    <script src="{% static "bower_components/bootstrap/js/popover.js" %}"></script>
    <script src="{% static "bower_components/jquery-ui/ui/jquery-ui.js" %}"></script>
    <script src="{% static "bower_components/angular-ui-select2/src/select2.js" %}"></script>
    <script src="{% static "bower_components/leaflet-dist/leaflet.js" %}"></script>
    <script src="{% static "bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js" %}"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script>
      window.CLOSURE_NO_DEPS = true;
      window.CLOSURE_BASE_PATH = ".";
    </script>

    <script src="{% static "bower_components/closure-library/closure/goog/base.js" %}"></script>

    <script src="{% static "deps.js" %}"></script>
    <script>
        goog.require('atlas');
    </script>
    <script type="text/javascript">
      (function(){
        $( "#id_deadline" ).datepicker();

        // Attach the popovers to the search results
        $('body').popover({
          selector: '.result_article',
          html: true,
          trigger: 'hover',
          placement: 'left'
        });

        // Get the api urls and bootstrap the application
        $.get("{% url 'api_api_top_level' api_name='api' %}", function(data){
          var module = angular.module('atlas');

          // Set the initial api url
          module.constant('ApiUrls', {
            urls: data
          });

          // Configure general ajax parameters
          module.config(function($httpProvider) {
            $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
            $httpProvider.defaults.xsrfCookieName = 'csrftoken';
            $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
          });

          angular.bootstrap(document,['atlas']);
        });
      })();
    </script>
</body>
</html>
